span{background-color: yellow;}
img{
    width: 100px;

}
#im1{border: 5px solid firebrick;}
#im2{border: 5px solid rgb(89, 0, 255);}
.xx{text-decoration: underline;}
h1,strong,#Z1{background-color: blue;}